<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <title>Favorite Recipes</title>
</head>

<!-- expects user_id and user_name as strings -->
<!-- expects recipes as a list of objects with each recipe having recipe.name, recipe.under30, recipe.first_name, recipe.user_id -->

<body>
  <!-- main container -->
  <div class="container">
    <!-- welcome message -->
    <h1>Welcome, {{user_name}}</h1>
    <!-- nav links -->
    <div class="d-flex justify-content-between">
      <p>Your favorite recipes:</p>
      <div class="d-flex">
        <a href="/recipes" class="me-2">All Recipes</a>
        <a href="/new_recipe_template" class="me-2">+ Create</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
    <!-- table -->
    <table class="table">
      <!-- table head -->
      <thead>
        <tr>
          <!-- labeling the table columns -->
          <th>Name</th>
          <th>Under 30 min</th>
          <th>Posted By</th>
          <th>Actions</th>
        </tr>
      </thead>
      <!-- looping through all recipes -->
      {% for recipe in favorites %}
        <tr>
          <td>{{recipe.name}}</td>
          <td>{{recipe.under30}}</td>
          <td>{{recipe.user_name}}</td>
          <td>
            <a href="/recipes/{{recipe.id}}">view recipe</a>
            {% if recipe.user_id == user_id %}
              | <a href="/recipes/edit/{{recipe.id}}">edit</a> | <a href="/delete/{{recipe.id}}">delete</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</body>

</html>